*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fondo{
    background-image: url(./assets/Fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: 80vh;
    border-radius: 2vh;
}
.bloque5und{
    position: absolute;
    top: 48%;
    left: 30%;
    animation: infinite bloque1 ease 3s;
}
@keyframes bloque1{
    25%{
        transform: translateX(-5vh);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(5vh);
    }
}
.monedaOne{
    position: absolute;
    top: 39%;
    left: 37.7%;
    transition: ease .5s;
    animation: ease-out infinite 1.5s coin;
}
.monedaTwo{
    position: absolute;
    top: 39%;
    left: 33%;
    transition: ease .5s;
    animation: ease-in infinite 1.5s coin;
}
.bloque3und{
    position: absolute;
    top: 35%;
    right: 38%;
    animation: infinite bloque2 ease 3s;
}
@keyframes bloque2{
    25%{
        transform: translateX(5vh);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(-5vh);
    }
}
.corazon{
    position: absolute;
    cursor: pointer;
    top: 26%;
    right: 41.3%;
    animation: palpitar infinite ease-in-out 1s;
}
.monedaThree{
    position: absolute;
    right: 22.75%;
    top: 53%;
    transition: ease .5s;
    animation: ease-in infinite 1.5s coin;
}
.cursor{
    cursor: pointer;
}
.contenedorDD{
    width: 25%;
    height: 12vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.estak{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(85, 79, 79, 0.39);
    padding: 1vh 2vh 1vh 2vh;
    gap: 2vh;
    border-radius: 1vh;
    font-family: sans-serif;
}
.estak img{
    width: 4vh;
    height: 4vh;
}
.contadorC{
    color: rgb(255, 255, 255);
}
.contadorM{
    color: rgb(255, 255, 72);
}

.recoger{
    animation: ease-in-out recoger .5s forwards;
}

@keyframes recoger{
    0%{transform: translateY(0); opacity: 1;}
    30%{transform: translateY(-5vh) scaleX(-1);}
    100%{transform: translateY(0); opacity: 0;}
}

@keyframes coin {
    50%{
        transform: translateY(-2vh);
    }
}

.corazon2{
    animation: ease-in-out cora .5s forwards;
}
@keyframes cora{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
        transform: scale(120%) translateY(-5vh);
    }
    100%{
        opacity: 0;
    }
}
@keyframes palpitar{
    50%{
        scale: 105%;
    }
}